@{
    ViewData["Title"] = "Contato";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light text-dark p-4 rounded shadow">
            <h2 class="mb-3 text-center">Entre em contato conosco</h2>
            <ul class="list-unstyled fs-5">
                <li><strong>Email:</strong> jrpsb@outlook.com</li>
                <li><strong>Telefone:</strong> (21) 98430-7192</li>
                <li>
                  
                  <a href="https://www.linkedin.com/in/jeferson-gomes" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i> linkedin.com/in/jeferson-gomes
                  </a>
                </li>
                <li>
                  
                  <a href="https://github.com/JefersonManso" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> github.com/JefersonManso
                  </a>
                </li>
            </ul>
        </div>
    </div>
</div>
